In [5]:
import pandas as pd
import seaborn as sns

In [6]:
data = [
    {
    "a": 1,
    "b": 2
    },
    {
    "a": 100,
    "b": 200
    }
]

In [7]:
DF = pd.DataFrame(data=data)

In [10]:
DF.describe()

                a           b
count    2.000000    2.000000
mean    50.500000  101.000000
std     70.003571  140.007143
min      1.000000    2.000000
25%     25.750000   51.500000
50%     50.500000  101.000000
75%     75.250000  150.500000
max    100.000000  200.000000